/* Navigation */
nav {
  background-color: #f2f2f2;  
  padding: 20px; 
  text-align: center; 
  position: relative;  
  bottom: 0; 
  width: 100%;  
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-radius: 3px;
}

nav a:hover {
  background-color: #ddd;
}

/* Common styles */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

/* Home page */
.post-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;  
  position: relative;  
  bottom: 0;  
  width: 70%; 
  margin: 0 auto;
}

.post {
  border: 1px solid #ccc;
  padding: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.responsive-img {
  max-width: 55%;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
}
.user-info img {
  width: 40px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-actions {
  display: flex;              
  justify-content: center;    
  align-items: center;        
  gap: 2px;                   
}

.like-button, .comment-button {
  background-color: #f2f2f2;
  border: none;
  padding: 2px 5px;
  cursor: pointer;
  margin: 0; 
}

footer {
  background-color: #f2f2f2;  
  padding: 20px;  
  position: relative; 
  bottom: 0; 
  width: 100%;  
}

.footer-content {
  max-width: 70%;  
  margin: 0 auto;  
  text-align: left; 
}

footer a {
  color: #007bff;  
  text-decoration: none;  
}

footer a:hover {
  text-decoration: underline;  
}

/* Add Post page */
.add-post-form {
  width: 30%;                
  max-width: 500px;         
  margin: 0 auto;          
  padding: 20px;           
  border: 1px solid #ccc;   
  border-radius: 5px;       
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], textarea{
  width: 100%; 
  height: 20vh;
  resize: none;          
  padding: 0px;           
  border: 1px solid #ccc;  
  border-radius: 3px;       
  margin: 0 auto; 
  
}
input[type="file"] {
  width: 100%; 
  height: 25px;
  border: 1px solid #ccc; 
  border-radius: 3px; 
  margin: 0 auto; 
}

button {
  background-color: #007bff; 
  color: #fff;              
  border: none;             
  padding: 10px 20px;       
  cursor: pointer;           
  border-radius: 3px;       
  margin: 0 auto; 
}


/* Login page */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.login-container p {
  text-align: center;
  margin-bottom: 20px;
}
